/* SpeedGuide CSS */

/*
 * Service ComboBox
 */
.combo-box .cell{
    -fx-font: 12px "System";
}

.tab-pane *.tab-header-background {
    -fx-background-color: #0f000d12;
}

/*
 * Status Pane
 */
#status-time {
	-fx-fill: blue;
	-fx-font-weight:bold;
}

#status-request {
	-fx-fill: black;
	-fx-font-weight: normal;
}

#status-response-success {
	-fx-fill: darkgreen;
	-fx-font-weight: normal;
}

#status-response-error {
	-fx-fill: crimson;
	-fx-font-weight: normal;
}
